.header-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
  position: relative;
  @include flex-row;
  z-index: 99999;
}

header {
  position: relative;
  height: var(--header-hight);
  padding: var(--mobile-padding-gap);
  z-index: 90;
  &.home {
    background: var(--text-color-white-2);
    color: var(--bg-blue-3);
  }
}

.logo {
  @include flex-inline;
  a {
    img {
      width: 90px;
      height: auto;
    }
  }
}

nav {
  button.mobile-menu-btn {
    color: var(--bg-white);
    svg {
      font-size: 1.3rem;
    }
    @include screen('desktop') {
      display: none;
    }
  }

  ul.menu {
    display: none;
    position: absolute;
    top: var(--header-hight);
    left: 0px;
    z-index: 999;
    width: calc(100vw / 1.333);
    padding: var(--menu-padding) 10px;
    background: var(--bg-white);
    @include screen('desktop') {
      position: static;
      display: block;
      background: var(--default-bg-color);
      @include flex-row;
      @include max-size;
      padding: 0px;
    }
    li.menu-item {
      position: relative;
      margin-bottom: 30px;
      max-width: 240px;
      a {
        font-size: 1.2em;
        text-transform: capitalize;
        color: var(--text-color-blue);
        font-weight: 700;
        @include screen('desktop') {
          color: var(--text-color-white);
        }
      }

      @include screen('desktop') {
        margin-bottom: 0px;
        margin-right: 40px;
        padding: 40px 0px;
        &:last-child {
          margin-right: 0px;
        }
      }
      p.sub-menu-icon {
        position: absolute;
        top: -8px;
        left: 100%;
        transform: translate(-50%, 50%);
        cursor: pointer;
        transition: all 1s ease;
        @include screen('desktop') {
          display: none;
        }
      }
      &:hover,
      ul.sub-menu:hover {
        ul.sub-menu {
          @include screen('desktop') {
            display: block;
          }
        }
      }
      ul.sub-menu {
        display: none;
        padding-left: var(--menu-padding);
        position: relative;
        &.active-menu {
          display: block;
        }
        li {
          margin-top: 10px;
          @include screen('desktop') {
            &:first-child {
              margin-top: 0px;
            }
          }
          a {
            color: var(--text-color-black-2);
          }
        }
        @include screen('desktop') {
          position: absolute;
          top: calc(var(--header-hight) / 1.125);
          left: 0px;
          background: var(--bg-white);
          padding: 20px 5px;
          width: 17rem;
          .sub-menu {
            position: static;
            padding: 0px;
            width: 100%;
          }
          li {
            padding: 8px 12px;
          }
        }
      }
    }
  }
}
