@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var fullName = HttpContextAccessor.HttpContext.Session.GetString("Name") + " " +
            HttpContextAccessor.HttpContext.Session.GetString("Surname");
    var picturePath = HttpContextAccessor.HttpContext.Session.GetString("PicturePath");
    var roleId = HttpContextAccessor.HttpContext.Session.GetInt32("UserRole");
    string url = Context.Request.Path.ToString();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
    <!-- IonIcons -->
    <link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true">
    @* table *@
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" asp-append-version="true" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/node/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">

    @* editör *@
    <link rel="stylesheet" href="~/editor/summernote-lite.css">

    @* alertifyjs *@
    <link rel="stylesheet" href="~/node/alertifyjs/build/css/alertify.min.css">
    <link rel="stylesheet" href="~/node/alertifyjs/build/css/themes/default.min.css">




    <title>Admin Yönetim Panali</title>
</head>

<body>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-action="Home" asp-controller="Admin" class="nav-link">Admin Ana Sayfa</a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-action="Index" asp-controller="Home" class="nav-link">ETÜR Ana Sayfa</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Arama"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <form asp-controller="Admin" asp-action="logOut"
                        onclick="return confirm('@fullName  çıkış yapmak istediğinize emin misiniz?')">
                        <button type="submit" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-action="Home" asp-controller="Admin" class="brand-link">
                <img src="~/img/logo.svg" alt="etü Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">ETÜR YÖNETİM</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@picturePath" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@fullName</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Arama"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

                        @* bilgi işlem adminin yapabileceği işlemler *@
                        @if (roleId == 2)
                        {
                            @* genel ayarlar *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-cogs nav-icon"></i>
                                    <p>
                                        Genel Ayarlar
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="GenSettings" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-eye nav-icon"></i>
                                            <p>Görüntüle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @* duyurular *@
                            <li class="nav-item">
                                <a class="nav-link ">
                                    <i class="fas fa-bullhorn nav-icon"></i>
                                    <p>
                                        Duyurular
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Announcements" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="AddAnnouncements" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @* haberler *@
                            <li class="nav-item ">
                                <a href="#" class="nav-link">
                                    <i class="far fa-newspaper nav-icon"></i>
                                    <p>
                                        Haberler
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="News" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="AddNews" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @* yönetim *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-network-wired nav-icon"></i>
                                    <p>
                                        Yönetim
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Management" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listesi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="AddManagement" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @* kullanıcılar *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-users nav-icon"></i>
                                    <p>
                                        Kullanıcılar
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Users" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="AddUsers" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @* altyapı *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-hard-hat nav-icon"></i>
                                    <p>
                                        Altyapı
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Substructure" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="AddSubstructure" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @* laboratuvarlar *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-vials nav-icon"></i>
                                    <p>
                                        Laboratuvarlar
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="labs" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="Addlab" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @* Slider *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-sliders-h nav-icon"></i>
                                    <p>
                                        Slider
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="Slider" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="AddSlider" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (roleId == 1)
                        {
                            @* makaleler *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-file-word nav-icon"></i>
                                    <p>
                                        Makaleler
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="Articles" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="AddArticles" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            @* bildiriler *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-exclamation-circle nav-icon"></i>
                                    <p>
                                        Bildiriler
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Notifications" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="AddNotification" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            @* projeler *@
                            <li class="nav-item ">
                                <a class="nav-link">
                                    <i class="fas fa-pen-nib nav-icon"></i>
                                    <p>
                                        Projeler
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Projects" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-database nav-icon"></i>
                                            <p>Listele</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="AddProject" asp-controller="Admin" class="nav-link">
                                            <i class="fas fa-plus nav-icon"></i>
                                            <p>Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }











                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col">
                            <main>
                                @RenderBody()
                            </main>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
        </div>



        <script src="~/node/jquery/dist/jquery.min.js" asp-append-version="true" type="text/javascript"></script>
        <script src="~/node/popperjs/core/dist/umd/popper.min.js" asp-append-version="true"
            type="text/javascript"></script>
        <script src="~/node/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"
            type="text/javascript"></script>

        <!-- Bootstrap -->
        <script src="~/node/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <!-- AdminLTE -->
        <script src="~/Admin/dist/js/adminlte.js" asp-append-version="true"></script>
        <!-- OPTIONAL SCRIPTS -->
        <script src="~/Admin/plugins/chart.js/Chart.min.js" asp-append-version="true"></script>


        <script type="text/javascript" src="~/js/datatables.min.js" asp-append-version="true"></script>

        @* editör *@

        <script src="~/editor/summernote-lite.js" asp-append-version="true" type="text/javascript"></script>
        <script src="~/editor/plugin/language/summernote-tr-TR.min.js" asp-append-version="true"
            type="text/javascript"></script>

        <script src="~/js/admin.js" type="text/javascript"></script>

        @* alertify js *@
        <script src="~/node/alertifyjs/build/alertify.min.js" type="text/javascript"></script>


        @* table *@
        <script>
            $(document).ready(function () {
                $("#table").dataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                    },
                    "searching": true,
                    "ordering": true,
                    "paging": true,
                    "pagingType": "full_numbers",
                    "pageLength": 10,
                    "responsive": true,
                    "columnDefs": [{
                        "targets": 3,
                        "orderable": false
                    }]
                });
            });
        </script>
        @* editör *@
        <script>
            $(document).ready(function () {
                $('#summernote').summernote({
                    placeholder: 'Editör',
                    tabsize: 2,
                    height: 120,
                    lang: 'tr-TR',
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture', 'video']],
                        ['view', ['fullscreen', 'codeview', 'help']]
                    ]
                });
            });
        </script>





</body>

</html>