<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/node/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">

    <title>Admin Yönetim Panali</title>
</head>

<body>
    <h1>Layout</h1>
    <main>
        @RenderBody()
    </main>




    <script src="~/node/jquery/dist/jquery.slim.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/node/popperjs/core/dist/umd/popper.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/node/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true" type="text/javascript"></script>


</body>

</html>