@model Management
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
    var title = ViewData["Title"];
}

<h1>
    @title
</h1>
<hr>


<div class="row">
    <div class="col-md-6">
        <form asp-action="AddManagement" asp-controller="Admin" method="POST" class="needs-validation"
            enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label asp-for="FullName">İsim soyisim</label>
                <input type="text" class="form-control" asp-for="FullName" placeholder="Başlık Giriniz" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Email" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="form-label">Resim Seç</label>
                <input asp-for="Picture" class="form-control" type="file" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Link">Bağlantı Adresi</label>
                <input type="text" class="form-control" asp-for="Link" placeholder="Bağlantı Adresi" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status">Mevki</label>
                <input type="text" class="form-control" asp-for="Status" placeholder="Mevki" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StaffStatus">İş tanımı</label>
                <input type="text" class="form-control" asp-for="StaffStatus" placeholder="İş tanımı" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IsStaff">Personel mi?</label>
                @* dil değeri name olarak atandı *@
                <select asp-for="IsStaff" asp-items="@(new SelectList(ViewBag.isActive,"Value","Name"))"
                    class="form-select" aria-label="Default select example">
                    <option selected>Lütfen personel durumunu seçiniz</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Status">Görünüm Sırası</label>
                <input type="text" class="form-control" asp-for="Queue" placeholder="Görünüm Sırası" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>
    <div class="col-md-4 ml-auto">
        @await Html.PartialAsync("_PleaseRead", "Yönetici")
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>