@model Slider
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
    var title = ViewData["Title"];
}

<h1>
    @title
</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <form asp-action="AddSlider" asp-controller="Admin" method="POST" class="needs-validation"
            enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label asp-for="Title">Başlık</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Başlık Giriniz" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubTitle">Alt başlık</label>
                <input type="text" class="form-control" asp-for="SubTitle" placeholder="Alt Başlık Giriniz" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description">Açıklama</label>
                <input asp-for="Description" class="form-control" type="text" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Language">Dil</label>
                @* dil değeri name olarak atandı *@
                <select asp-for="Language" asp-items="@(new SelectList(ViewBag.languages,"Name","Name"))"
                    class="form-select" aria-label="Default select example">
                    <option selected>Lütfen dil seçiniz</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="form-label">Resim Seç</label>
                <input asp-for="Picture" class="form-control" type="file" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Link">Bağlantı Adresi</label>
                <input asp-for="Link" class="form-control" type="text" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Queue">Gösterim sırası</label>
                <input asp-for="Queue" class="form-control" type="text" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IsActive">Aktif mi?</label>
                @* dil değeri name olarak atandı *@
                <select asp-for="IsActive" asp-items="@(new SelectList(ViewBag.isActive,"Value","Name"))"
                    class="form-select" aria-label="Default select example">
                    <option selected>Lütfen aktif durumunu seçiniz</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>
    <div class="col-md-4 ml-auto">
        @await Html.PartialAsync("_PleaseRead", "Slider")
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>