@model Announcement
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditAnnouncements" asp-controller="Admin" method="POST" class="needs-validation"
            enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label asp-for="Title">Başlık</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Başlık Giriniz" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Content">İçerik</label>
                <textarea class="form-control" id="summernote" asp-for="Content" required></textarea>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Language">Dil</label>
                @* dil değeri name olarak atandı *@
                <select asp-for="Language" asp-items="@(new SelectList(ViewBag.languages,"Name","Name"))"
                    class="form-select" aria-label="Default select example">
                    <option selected>Lütfen dil seçiniz</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ShortText">Kısa Metin</label>
                <input type="text" class="form-control" asp-for="ShortText" placeholder="Kısa Metin" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="PicturePath">Resim Seç</label>
                <input class="form-control" type="file" id="formFile" asp-for="PicturePath" required>
                <div class="invalid-feedback">
                    Lütfen Kontrol Ediniz!
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>