@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Admin/_Layout.cshtml";
    string fullName = HttpContextAccessor.HttpContext.Session.GetString("Name") +
    HttpContextAccessor.HttpContext.Session.GetString("Surname");
    string picturePath = HttpContextAccessor.HttpContext.Session.GetString("PicturePath");
    string institution = HttpContextAccessor.HttpContext.Session.GetString("Institution");
}

<!-- #Sisteme Giriş yapan kişi kart -->

<div class="card" style="width: 18rem;">
    <img src="~/@picturePath" class="card-img-top" alt="@fullName fotoğrafı">
    <div class="card-body">
        <h5 class="card-title">@fullName</h5>
        <p class="card-text">
            @institution
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, placeat!
        </p>
    </div>
</div>
