@{
    string url = Context.Request.Path.ToString();
    var className = "";
}
@if (url != "/" && url != "/home")
{
    className = "home";
}
<header class="@className">
    <div class="header-wrapper">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.svg" alt="etu logo">
            </a>
        </div>
        <nav>
            <button type="button" class="btn mobile-menu-btn" id="mobile-menu-btn">
                <svg class="icon icon-menu">
                    <use xlink:href="#icon-menu"></use>
                </svg>
            </button>
            @await Component.InvokeAsync("TopMenuComponent")
        </nav>

    </div>
</header>

@* <script src="~/js/header.js" asp-append-version="true"></script> *@