<header>
    <div class="header-wrapper">
        <div class="logo">
            <a href="#">
                <img src="~/img/logo.svg" alt="etu logo">
            </a>
        </div>

        <nav>
            <button type="button" class="btn mobile-menu-btn" id="mobile-menu-btn">
                <svg class="icon icon-menu">
                    <use xlink:href="#icon-menu"></use>
                </svg>
            </button>
            <ul class="menu animate__animated" id="menu">
                <li class="menu-item">
                    <a href="#">lorem1</a>
                    <p class="sub-menu-icon">
                        <svg class="icon icon-circle-down">
                            <use xlink:href="#icon-circle-down"></use>
                        </svg>
                    </p>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">hello</a>
                        </li>
                        <li><a href="#">hello</a></li>
                        <li><a href="#">hello</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">lorem1</a>
                    <p class="sub-menu-icon">
                        <svg class="icon icon-circle-down">
                            <use xlink:href="#icon-circle-down"></use>
                        </svg>
                    </p>
                    <ul class="sub-menu">
                        <li><a href="#">hello</a></li>
                        <li><a href="#">hello</a></li>
                        <li><a href="#">hello</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#">lorem1</a></li>
                <li class="menu-item"><a href="#">lorem1</a></li>
                <li class="menu-item"><a href="#">lorem1</a></li>
                <li class="menu-item"><a href="#">lorem1</a></li>
                <li class="menu-item"><a href="#">lorem1</a></li>
            </ul>
        </nav>

    </div>
</header>