<header>
    <div class="header-wrapper">
        <div class="logo">
            <a href="#">
                <img src="~/img/logo.svg" alt="etu logo">
            </a>
        </div>
        <nav>
            <button type="button" class="btn mobile-menu-btn" id="mobile-menu-btn">
                <svg class="icon icon-menu">
                    <use xlink:href="#icon-menu"></use>
                </svg>
            </button>
            @await Component.InvokeAsync("TopMenuComponent")
        </nav>

    </div>
</header>