@model string
<!-- # bilgilendirme -->
<div class="alert alert-warning" role="alert">
    <i class="fas fa-exclamation-triangle"></i>
    @Model tablosunda <u><i>arama</i></u> işlemi yapabilir, <u><i>güncelleme</i></u> ve <u><i>silme</i></u> işlemlerini
    tabloda <strong>işlem</strong> başlığı altında bulunan butonlardan gerçekleştirebilirsiniz.
</div>