<!DOCTYPE html>
<html lang="en" id="top-of-site">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link rel="stylesheet" href="~/node/animate.css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" type="text/css" />

    <script src="~/node/vue/dist/vue.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/node/axios/dist/axios.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/index.js" asp-append-version="true" type="text/javascript"></script>
</head>

<body>

    @await Html.PartialAsync("_Svg")
    @await Html.PartialAsync("_Header")
    @await Html.PartialAsync("_SocialMedia")
    <main role="main">
        @RenderBody()
    </main>
    @await Html.PartialAsync("_footer")

    @RenderSection("Scripts", required: false)

    <script>
        const topLinkBtn = document.getElementById('top-link-btn');
        window.onscroll = () => {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                topLinkBtn.style.display = "block"
            } else {
                topLinkBtn.style.display = "none"
            }
        }
        if (document.body.scrollTop < 100 || document.documentElement.scrollTop < 100) {
            topLinkBtn.style.display = "none"
        }
    </script>
</body>

</html>
