<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link rel="stylesheet" href="~/node/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    @await Html.PartialAsync("_Svg")
    @await Html.PartialAsync("_Header")
    @await Html.PartialAsync("_SocialMedia")
    <main role="main">
        @RenderBody()
        <div id="settings">
            <p v-for="setting in settings">
                {{setting.adres}}
            </p>
        </div>
    </main>
    @await Html.PartialAsync("_footer")


    <script src="~/node/vue/dist/vue.min.js" asp-append-version="true"></script>
    <script src="~/node/axios/dist/axios.min.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/slider.js" asp-append-version="true"></script>

    <script>
        var settings = new Vue({
            el: '#settings',
            data: {
                settings: []
            },
            mounted: function () {
                this.getSettings();
            },
            methods: {
                getSettings: function () {
                    var vm = this;
                    axios({
                        method: 'post',
                        url: '/GenSettings/GetSettings',
                        data: {
                            settings: []
                        }
                    }).then(function (response) {
                        vm.settings = response.data.settingsData;
                        console.log(vm.settings);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
