<div class="slider-wrapper">
    <div class="slider">
        <div class="slide active">
            <img src="~/img/lab1.jpg" alt="lab" loading="lazy">
            <div class="slide-inner">
                <h1>Araştırma Merkezimiz</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci aperiam veniam dicta iste
                    distinctio doloribus facere illum nesciunt sit.
                </p>
                <a href="#" type="button" class="btn read-more-btn">
                    Daha Fazla
                    <svg class="icon icon-arrow-right2">
                        <use xlink:href="#icon-arrow-right2"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="slide">
            <img src="~/img/lab2.jpg" alt="lab" loading="lazy">
            <div class="slide-inner">
                <h1>Araştırma Merkezimiz</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci aperiam veniam dicta iste
                    distinctio doloribus facere illum nesciunt sit.
                </p>
                <a href="#" type="button" class="btn read-more-btn">
                    Daha Fazla
                    <svg class="icon icon-arrow-right2">
                        <use xlink:href="#icon-arrow-right2"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="slide">
            <img src="~/img/lab3.jpg" alt="lab" loading="lazy">
            <div class="slide-inner">
                <h1>Araştırma Merkezimiz</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci aperiam veniam dicta iste
                    distinctio doloribus facere illum nesciunt sit.
                </p>
                <a href="#" type="button" class="btn read-more-btn">
                    Daha Fazla
                    <svg class="icon icon-arrow-right2">
                        <use xlink:href="#icon-arrow-right2"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <p id="arrow-cta" class="arrow arrow-anim">
        <svg class="icon icon-arrow-down">
            <use xlink:href="#icon-arrow-down"></use>
        </svg>
    </p>
    <div class="slider-indicators">
        <button id="slider-prev-btn" class="btn">
            <svg class="icon icon-arrow-left2">
                <use xlink:href="#icon-arrow-left2"></use>
            </svg>
        </button>
        <button id="slider-next-btn" class="btn">
            <svg class="icon icon-arrow-right2">
                <use xlink:href="#icon-arrow-right2"></use>
            </svg>
        </button>
    </div>
</div>
