<div class="social-media-wrapper">
    <button id="social-media-btn" class="btn social-media-btn circle-anim" type="button" title="Social Media">
        <svg class="icon icon-rss">
            <use xlink:href="#icon-rss"></use>
        </svg>
    </button>
    <ul class="social-media animate__animated" id="social-media-menu">
        <li class="social-media-item">
            <a href="#" class="social-media-item-link link-instagram">
                <svg class="icon icon-instagram">
                    <use xlink:href="#icon-instagram"></use>
                </svg>
            </a>
    </li>
        <li class="social-media-item">
            <a href="#" class="social-media-item-link link-facebook">
                <svg class="icon icon-facebook2">
                    <use xlink:href="#icon-facebook2"></use>
                </svg>
            </a>
        </li>
        <li class="social-media-item">
            <a href="#" class="social-media-item-link link-twitter">
                <svg class="icon icon-twitter">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
            </a>
        </li>
        <li class="social-media-item">
            <a href="#" class="social-media-item-link link-linkedin">
                <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>