// @font-face {
//   font-family: 'Montserrat';
//   src: url('./../../fonts/Montserrat-Regular.ttf');
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  // * font family
  --default-font: 'Montserrat', sans-serif;

  // * bg color
  --default-bg-color: transparent;
  --bg-black: #000;
  --bg-blue-2: #77acd4;
  --bg-blue-3: #262261;
  --bg-white: #fff;
  --bg-white-2: #f2f7f9;
  --bg-white-3: #f7f7f7;
  --bg-orange: #ffd346;

  // * text color
  --defult-text-color: #000;
  --text-color-black-2: #2b2321;
  --text-color-white: #fff;
  --text-color-white-2: #d8e3e7;
  --text-color-gray: #777;
  --text-color-gray-2: #bebebe;
  --text-color-blue: #262261;
  --text-color-blue-2: #77acd4;

  // * padding
  --mobile-padding-gap: 10px;
  --menu-padding: 30px;

  // * height
  --header-hight: 110px;
}
