// @font-face {
//   font-family: 'Montserrat';
//   src: url('./../../fonts/Montserrat-Regular.ttf');
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
  // * font family
  --default-font: 'Montserrat', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  // * bg color
  --default-bg-color: transparent;
  --bg-black: #000;
  --bg-blue-2: #77acd4;
  --bg-blue-3: #262261;
  --bg-white: #fff;
  --bg-white-2: #f2f7f9;
  --bg-white-3: #f7f7f7;
  --bg-orange: #ffd346;
  --bg-orange-2: #ff4b2b;
  --bg-pink: #ff454f;
  --bg-pink-2: #ff4267;
  --bg-gray: #eeeeee;
  --bg-yellow: #fff3cd;

  // * text color
  --defult-text-color: #000;
  --text-color-black-2: #2b2321;
  --text-color-black-3: #2b2b2b;
  --text-color-white: #fff;
  --text-color-white-2: #d8e3e7;
  --text-color-gray: #777;
  --text-color-gray-2: #bebebe;
  --text-color-gray-3: #545454;
  --text-color-gray-4: #cab7b1;
  --text-color-blue: #262261;
  --text-color-blue-2: #77acd4;
  --text-color-blue-3: #0277bd;
  --text-color-brown: #856404;

  // * padding
  --mobile-padding-gap: 10px;
  --menu-padding: 30px;

  // * height
  --header-hight: 110px;
}
