@model WebProject.Models.Announcement

<div class="announcements-wrapper">
    <div class="row-2">
        <div class="col-2">
            <h1>@Model.Title</h1>
            <hr>
            <div class="img-wrapper">
                <img src="@Model.PicturePath" alt="Duyuru resim">
            </div>
            <div>
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>