<div class="about-us-wrapper">
    <div class="about-us">
        <div class="about-us-title">
            <h1>Hakkımızda</h1>
        </div>
        <div class="content-block">
            <div class="content-block1 animate__animated animate__fadeInLeftBig">
                <h3>Bilimin hizmetinde, öncü</h3>
                <p>
                    <b>Erzurum Teknik Üniversitesi Araştırma Merkezi</b>
                    temel bilimler, yaşam bilimleri, malzeme bilimi ve mühendislik sahalarında araştırma yapan bilim
                    insanlarına ve sanayi kuruluşlarına laboratuvar, test ve analiz hizmeti sunmaktadır.
                </p>
                <h4>Güçlü Altyapı Uluslar arası standartlara uygunluk</h4>
                <br>

                <p>
                    <b>ETÜR</b>'de test ve analizler uluslararası standartlara (ISO, ICH, ASTM, EP, USP vb.) göre yüksek
                    deneyime ve uzmanlığa sahip araştırmacılar tarafından gerçekleştirilmektedir.
                </p>
                <p>
                    Analitik yöntem geliştirme ve validasyonu alanında yüksek deneyime sahip oaln DAYTAM, İyi
                    Laboratuvar Uygulamaları (Good Laboratory Practise-GLP), ISO 17025 ve ISO 9001 kalite ve
                    akreditasyon süreçlerini yakın bir gelecekte tamamlayacaktır.
                </p>
            </div>
            <div class="content-block2 animate__animated animate__flipInY">
                <img src="~/img/researchCenter.jpg" loading="lazzy" alt="hakkımzıda">
            </div>
        </div>
    </div>
</div>