<div class="about-us">
    <div class="about-us-wrapper">
        <div class="about-us-title">
            <h1>Hakk覺m覺zda</h1>
        </div>
        <div class="content-block">
            <div class="content-block1">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim quos perferendis reprehenderit aliquam
                    nobis quaerat voluptatibus, provident rem dolorem magni cupiditate eligendi numquam a sapiente iure
                    mollitia labore omnis facilis.
                </p>
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis provident repudiandae at quibusdam
                    perferendis tempora eius suscipit error, aperiam, omnis, deleniti molestiae odit nihil itaque
                    consequuntur! Pariatur possimus ut quibusdam?
                </p>
            </div>
            <div class="content-block2">
                <img src="~/img/researchCenter.jpg" loading="lazzy" alt="hakk覺mz覺da">
            </div>
        </div>
    </div>
</div>