@{
    var news = (IEnumerable<WebProject.Models.News>)ViewBag.news;
    var announcements = (IEnumerable<WebProject.Models.Announcement>)ViewBag.announcements;
}

@await Html.PartialAsync("_Slider")

<div id="about" class="about-work-wrapper">
    <div class="about-work">
        <div class="card animate__animated animate__fadeIn animate__delay-1s">
            <img class="card-img" src="~/img/default/labs.svg" alt="lab">
            <div class="card-body">
                <h3 class="card-title">
                    <a asp-controller="Home" asp-action="Substructure">Laboratuvar</a>
                </h3>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti eius neque consectetur veniam
                    vel? Quia non obcaecati dignissimos esse maxime.
                </p>
            </div>
        </div>
        <div class="card animate__animated animate__fadeIn animate__delay-3s">
            <img class="card-img" src="~/img/default/analysis.svg" alt="lab">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="#">Analiz</a>
                </h3>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti eius neque consectetur veniam
                    vel? Quia non obcaecati dignissimos esse maxime.
                </p>
            </div>
        </div>
        <div class="card animate__animated animate__fadeIn animate__delay-2s">
            <img class="card-img" src="~/img/default/team.svg" alt="lab">
            <div class="card-body">
                <h3 class="card-title">
                    <a asp-controller="Hakkimizda" asp-action="yonetim">Takımımız</a>
                </h3>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti eius neque consectetur veniam
                    vel? Quia non obcaecati dignissimos esse maxime.
                </p>
            </div>
        </div>
    </div>
</div>
@* * calismamiz hakkinda bilgi *@


<div class="substructure-wrapper">
    <div class="substructure">
        <h2>altyapımız</h2>
        <p class="base">
            <svg class="icon icon-basecamp">
                <use xlink:href="#icon-basecamp"></use>
            </svg>
        </p>
        <p class="sub-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odio quasi aut eum excepturi quae
        </p>
        <div class="row">
            <div class="col">
                <div class="substructure-item">
                    <div class="substructure-item-img grayscale" style="background-image: url('/img/build.jpg');"
                        loading="lazy" role="img">
                    </div>
                    <div class="substructure-item-content">
                        <h3>
                            <a asp-controller="Home" asp-action="substructure">İnşaat</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="substructure-item">
                    <div class="substructure-item-img grayscale" style="background-image: url('/img/chemistry.jpg');"
                        loading="lazy" role="img">
                    </div>
                    <div class="substructure-item-content">
                        <h3>
                            <a asp-controller="Home" asp-action="substructure">Kimyasal</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="substructure-item">
                    <div class="substructure-item-img grayscale" style="background-image: url('/img/food.jpg');"
                        loading="lazy" role="img">
                    </div>
                    <div class="substructure-item-content">
                        <h3>
                            <a asp-controller="Home" asp-action="substructure">Gıda</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* * alt yapi *@

@await Html.PartialAsync("~/Views/News/News.cshtml", news)

@await Html.PartialAsync("~/Views/Announcements/Announcements.cshtml", announcements)
