.slider-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  @include max-size;
}
.slider {
  position: relative;
  @include max-size;
  overflow: hidden;
  .slide {
    position: absolute;
    top: 0px;
    left: 0px;
    @include max-size;
    opacity: 0;
    transition: opacity 1s ease;
    &::before {
      content: '';
      display: block;
      @include max-size;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #000;
      opacity: 0.6;
    }
    &.active {
      opacity: 1;
      .slide-inner {
        opacity: 1;
      }
    }
    &-img {
      @include max-size;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
    &-inner {
      z-index: 99;
      opacity: 0;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 100%;
      font-size: 1rem;
      text-align: center;
      color: var(--text-color-white);
      transition: opacity 2s ease;
      h1 {
        font-size: 1.125em;
        margin: 20px 0px;
        letter-spacing: 0.2rem;
        font-weight: normal;
        text-transform: uppercase;
        @include screen('tablet') {
          font-size: 2em;
        }
        @include screen('desktop') {
          font-size: 3em;
        }
      }
      p {
        font-size: 0.8125em;
        margin: 20px auto;
        max-width: 450px;
        line-height: 1.3rem;
        color: var(--text-color-white-2);
        @include screen('tablet') {
          font-size: 1.2em;
          line-height: 1.5rem;
        }
      }
    }
  }
}
p.arrow {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 999;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color-white);
}

.slider-indicators {
  position: absolute;
  bottom: 20px;
  right: 20px;
  @include flex-column;
  button {
    font-size: 1.5625rem;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--text-color-white);
  }
}
