.management-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px var(--mobile-padding-gap);
  min-height: calc(100vh - 100px);
}

.management {
  &-title {
    h1 {
      color: var(--text-color-blue);
      margin-bottom: 20px;
    }
    margin-bottom: 20px;
    &::after {
      content: '';
      display: block;
      height: 1px;
      background: var(--text-color-black-2);
    }
  }
  &-staff {
    .content-block {
      &:first-child {
        justify-content: center;
      }
      &:not(:first-child) {
        display: inline-flex;
        @include screen('desktop') {
          margin-top: 40px;
          margin-right: 40px;
        }
      }

      .card {
        flex-flow: row nowrap;
        align-items: center;
        border: 1px solid var();
        &.bg-gradient {
          background: linear-gradient(white, white) padding-box,
            linear-gradient(90deg, #0277bd, #262261) border-box;
          border-width: 3px;
          border-style: solid;
          border-color: transparent;
        }
        &-img {
          width: 150px;
          height: auto;
          margin: 0px auto;
        }
        &-body {
          text-align: center;
        }
      }
    }
  }
}
