.news-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px var(--mobile-padding-gap);
  &-title {
    @include flex-inline;
    font-size: 1.3em;
    margin-bottom: 20px;
    color: var(--text-color-blue);
    text-transform: capitalize;
    @include screen('desktop') {
      font-size: 1.9em;
    }
    svg {
      margin-left: 20px;
    }
  }
  &-sub-title {
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 1em;
    color: var(--text-color-black-2);
    @include screen('desktop') {
      font-size: 1.3em;
    }
  }
}

.news {
  overflow: hidden;
  font-size: 1.5rem;
  &:not(:first-child) {
    .news-img {
      width: 120px;
      height: 120px;
    }
  }
  @include screen('desktop') {
    font-size: 2rem;
    min-width: 500px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  & > * {
    margin-bottom: 8px;
  }
  &-img {
    @include max-size;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: unset;
  }
  &-title {
    font-size: 0.7em;
    color: var(--text-color-blue-3);
    a {
      text-decoration: underline;
      transition: all 0.5s;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-text {
    font-size: 0.6em;
    color: var(--text-color-black-2);
  }
  &-meta {
    font-size: 0.5em;
    color: var(--text-color-gray-3);
  }
}
