<div class="vision-wrapper">
    <h1>Misyon ve Vizyon</h1>
    <br>
    <hr>
    <br>
    <br>
    <div class="row-2">
        <div class="col-2">
            <div class="img-wrapper">
                <img src="~/img/default/vision.jpeg" alt="Haber resim">
            </div>
        </div>
        <div class="col-2">
            <h4>Misyon</h4>
            <p>
                ETÜR, katma değeri yüksek, üretim ve tasarım aşamalarında yüksek teknoloji gerektiren yeni ürün, süreç
                veya
                malzemelerin geliştirilmesinde disiplinlerarası bilimsel araştırmalara altyapı desteği sunabilme
                misyonuna sahiptir.
            </p>
            <h4>Vizyon</h4>
            <p>
                ETÜR, sahip olduğu yüksek teknolojik cihazlar ve laboratuvarlarla ulusal ve uluslararası arenada
                teknolojik
                gelişmelere katkı sağlamayı ve nitelikli bilimsel çalışmaların ortaya çıkmasını hedeflemektedir.
            </p>
            <h4>Prensip</h4>
            <p>
                ETÜR, ülkemizdeki üniversitelerde bulunan ilgili bölüm ve programları temel ve ileri araştırma ve
                uygulama projelerini disiplinlerarası bir niteliğe ulaştırma, onlara bu projelerin uygulanması
                aşamasında fiziki ve teknik altyapı sağlama, bu bölüm ve programlardaki araştırmacılara cihaz
                altyapısı desteği sunma, onlara merkez bünyesinde yer alan cihazların etkin kullanımı ve uygulamaları
                ile ilgili eğitim seminerlerini organize etme noktasında destek sağlayacaktır.
            </p>
        </div>
    </div>
</div>