<div class="vision-wrapper">
    <h1>Misyon ve Vizyon</h1>
    <br>
    <hr>
    <br>
    <br>
    <div class="row-2">
        <div class="col-2">
            <div class="img-wrapper">
                <img src="~/img/default/vision.jpeg" alt="Haber resim">
            </div>
        </div>
        <div class="col-2">
            <h4>Misyon</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse laboriosam nisi sit, explicabo voluptas,
                repellendus cupiditate iure molestiae eius maiores quo neque ipsum eum iusto non iste repudiandae
                voluptatibus? Dolorem.</p>
            <h4>Vizyon</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatibus, impedit, expedita aperiam
                eveniet quidem voluptas quas atque optio assumenda dignissimos culpa alias maxime fugit tempore quam
                dolores, in perspiciatis!</p>
            <h4>Prensip</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consequuntur nostrum assumenda commodi,
                quia fugiat, voluptas eos officiis accusantium ipsam corporis adipisci hic a ut blanditiis veniam minus
                ex consectetur?</p>
        </div>
    </div>
</div>